html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}
h1{
  color: #0F3388;
  padding: 2vh;
  font-size: 4.0rem;  
}
p{
  font-size: 1.5rem;
}
.button {
  display: inline-block;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 16px 40px;
  text-decoration: none;
  font-size: 30px;
  margin: 2px;
  cursor: pointer;
}
.greenButton {
  background-color: #00BA30;
  background-size: 20px 40px;
  background-position: center;
  background-repeat: no-repeat;
}
.redButton {
  background-color: #F04030;
  background-size: 20px 40px;
  background-position: center;
  background-repeat: no-repeat;
}
.opac08 {
  opacity: 0.8;
}
.opac10 {
  opacity: 1.0;
}	
